body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 40px;
    background-color: #f9f9f9;
  }
  h1 {
    text-align: center;
    margin-bottom: 30px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .card {
    width: 250px;
    padding: 20px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    text-align: center;
    transition: transform 0.2s;
    cursor: pointer;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  }
  .card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  .card p {
    color: #666;
    font-size: 0.9rem;
  }
  .card img {
    width: 60px;
    height: 60px;
  }

  .main-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    max-height: 700px;
    margin: 0 auto;

  }

  .left-section {
    flex: 1;
    padding: 10px;
   
  }  

  .circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }
  .dashboard {
    display: flex;
    flex-direction: column; /* ← 세로 정렬로 변경 */
    gap: 30px;
    padding: 50px;
    align-items: center; /* 가운데 정렬 (선택 사항) */
  }

  .steps { background-color: #4CAF50; }
  .heart { background-color: #f44336; }
  .calories { background-color: #ff9800; }
  .bloodGlucose { background-color: #568cdd ; }
  
  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }
  
  #login-btn {
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  #login-btn:hover {
    background-color: #357ae8;
  }
  